<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.edu.dao.EnrollInfoDao">

	<select id="get" resultType="com.bootdo.edu.domain.EnrollInfoDO">
		select `id`,`name`,`sex`,`id_card`,`political`,`province`,`city`,`address`,`school`,`specialty`,`enroll_type`,`qualification`,`graduation_school`,`graduati_specialty`,`occupation_type`,`student_type`,`privilege_type`,`nation`,`phone`,`qq`,`email`,`wechat`,`if_delivery`,`delivery_name`,`delivery_time`,`delivery_num`,`if_pay`,`remark`,`status`,`create_time`,`update_time` from edu_enroll_info where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.edu.domain.EnrollInfoDO">
		select `id`,`name`,`sex`,`id_card`,`political`,`province`,`city`,`address`,`school`,`specialty`,`enroll_type`,`qualification`,`graduation_school`,`graduati_specialty`,`occupation_type`,`student_type`,`privilege_type`,`nation`,`phone`,`qq`,`email`,`wechat`,`if_delivery`,`delivery_name`,`delivery_time`,`delivery_num`,`if_pay`,`remark`,`status`,`create_time`,`update_time` from edu_enroll_info
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="sex != null and sex != ''"> and sex = #{sex} </if>
		  		  <if test="idCard != null and idCard != ''"> and id_card = #{idCard} </if>
		  		  <if test="political != null and political != ''"> and political = #{political} </if>
		  		  <if test="province != null and province != ''"> and province = #{province} </if>
		  		  <if test="city != null and city != ''"> and city = #{city} </if>
		  		  <if test="address != null and address != ''"> and address = #{address} </if>
		  		  <if test="school != null and school != ''"> and school = #{school} </if>
		  		  <if test="specialty != null and specialty != ''"> and specialty = #{specialty} </if>
		  		  <if test="enrollType != null and enrollType != ''"> and enroll_type = #{enrollType} </if>
		  		  <if test="qualification != null and qualification != ''"> and qualification = #{qualification} </if>
		  		  <if test="graduationSchool != null and graduationSchool != ''"> and graduation_school = #{graduationSchool} </if>
		  		  <if test="graduatiSpecialty != null and graduatiSpecialty != ''"> and graduati_specialty = #{graduatiSpecialty} </if>
		  		  <if test="occupationType != null and occupationType != ''"> and occupation_type = #{occupationType} </if>
		  		  <if test="studentType != null and studentType != ''"> and student_type = #{studentType} </if>
		  		  <if test="privilegeType != null and privilegeType != ''"> and privilege_type = #{privilegeType} </if>
		  		  <if test="nation != null and nation != ''"> and nation = #{nation} </if>
		  		  <if test="phone != null and phone != ''"> and phone = #{phone} </if>
		  		  <if test="qq != null and qq != ''"> and qq = #{qq} </if>
		  		  <if test="email != null and email != ''"> and email = #{email} </if>
		  		  <if test="wechat != null and wechat != ''"> and wechat = #{wechat} </if>
		  		  <if test="ifDelivery != null and ifDelivery != ''"> and if_delivery = #{ifDelivery} </if>
		  		  <if test="deliveryName != null and deliveryName != ''"> and delivery_name = #{deliveryName} </if>
		  		  <if test="deliveryTime != null and deliveryTime != ''"> and delivery_time = #{deliveryTime} </if>
		  		  <if test="deliveryNum != null and deliveryNum != ''"> and delivery_num = #{deliveryNum} </if>
		  		  <if test="ifPay != null and ifPay != ''"> and if_pay = #{ifPay} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from edu_enroll_info
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="sex != null and sex != ''"> and sex = #{sex} </if>
		  		  <if test="idCard != null and idCard != ''"> and id_card = #{idCard} </if>
		  		  <if test="political != null and political != ''"> and political = #{political} </if>
		  		  <if test="province != null and province != ''"> and province = #{province} </if>
		  		  <if test="city != null and city != ''"> and city = #{city} </if>
		  		  <if test="address != null and address != ''"> and address = #{address} </if>
		  		  <if test="school != null and school != ''"> and school = #{school} </if>
		  		  <if test="specialty != null and specialty != ''"> and specialty = #{specialty} </if>
		  		  <if test="enrollType != null and enrollType != ''"> and enroll_type = #{enrollType} </if>
		  		  <if test="qualification != null and qualification != ''"> and qualification = #{qualification} </if>
		  		  <if test="graduationSchool != null and graduationSchool != ''"> and graduation_school = #{graduationSchool} </if>
		  		  <if test="graduatiSpecialty != null and graduatiSpecialty != ''"> and graduati_specialty = #{graduatiSpecialty} </if>
		  		  <if test="occupationType != null and occupationType != ''"> and occupation_type = #{occupationType} </if>
		  		  <if test="studentType != null and studentType != ''"> and student_type = #{studentType} </if>
		  		  <if test="privilegeType != null and privilegeType != ''"> and privilege_type = #{privilegeType} </if>
		  		  <if test="nation != null and nation != ''"> and nation = #{nation} </if>
		  		  <if test="phone != null and phone != ''"> and phone = #{phone} </if>
		  		  <if test="qq != null and qq != ''"> and qq = #{qq} </if>
		  		  <if test="email != null and email != ''"> and email = #{email} </if>
		  		  <if test="wechat != null and wechat != ''"> and wechat = #{wechat} </if>
		  		  <if test="ifDelivery != null and ifDelivery != ''"> and if_delivery = #{ifDelivery} </if>
		  		  <if test="deliveryName != null and deliveryName != ''"> and delivery_name = #{deliveryName} </if>
		  		  <if test="deliveryTime != null and deliveryTime != ''"> and delivery_time = #{deliveryTime} </if>
		  		  <if test="deliveryNum != null and deliveryNum != ''"> and delivery_num = #{deliveryNum} </if>
		  		  <if test="ifPay != null and ifPay != ''"> and if_pay = #{ifPay} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.edu.domain.EnrollInfoDO" useGeneratedKeys="true" keyProperty="id">
		insert into edu_enroll_info
		(
			`name`, 
			`sex`, 
			`id_card`, 
			`political`, 
			`province`, 
			`city`, 
			`address`, 
			`school`, 
			`specialty`, 
			`enroll_type`, 
			`qualification`, 
			`graduation_school`, 
			`graduati_specialty`, 
			`occupation_type`, 
			`student_type`, 
			`privilege_type`, 
			`nation`, 
			`phone`, 
			`qq`, 
			`email`, 
			`wechat`, 
			`if_delivery`, 
			`delivery_name`, 
			`delivery_time`, 
			`delivery_num`, 
			`if_pay`, 
			`remark`, 
			`status`, 
			`create_time`, 
			`update_time`
		)
		values
		(
			#{name}, 
			#{sex}, 
			#{idCard}, 
			#{political}, 
			#{province}, 
			#{city}, 
			#{address}, 
			#{school}, 
			#{specialty}, 
			#{enrollType}, 
			#{qualification}, 
			#{graduationSchool}, 
			#{graduatiSpecialty}, 
			#{occupationType}, 
			#{studentType}, 
			#{privilegeType}, 
			#{nation}, 
			#{phone}, 
			#{qq}, 
			#{email}, 
			#{wechat}, 
			#{ifDelivery}, 
			#{deliveryName}, 
			#{deliveryTime}, 
			#{deliveryNum}, 
			#{ifPay}, 
			#{remark}, 
			#{status}, 
			#{createTime}, 
			#{updateTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.edu.domain.EnrollInfoDO">
		update edu_enroll_info 
		<set>
			<if test="name != null">`name` = #{name}, </if>
			<if test="sex != null">`sex` = #{sex}, </if>
			<if test="idCard != null">`id_card` = #{idCard}, </if>
			<if test="political != null">`political` = #{political}, </if>
			<if test="province != null">`province` = #{province}, </if>
			<if test="city != null">`city` = #{city}, </if>
			<if test="address != null">`address` = #{address}, </if>
			<if test="school != null">`school` = #{school}, </if>
			<if test="specialty != null">`specialty` = #{specialty}, </if>
			<if test="enrollType != null">`enroll_type` = #{enrollType}, </if>
			<if test="qualification != null">`qualification` = #{qualification}, </if>
			<if test="graduationSchool != null">`graduation_school` = #{graduationSchool}, </if>
			<if test="graduatiSpecialty != null">`graduati_specialty` = #{graduatiSpecialty}, </if>
			<if test="occupationType != null">`occupation_type` = #{occupationType}, </if>
			<if test="studentType != null">`student_type` = #{studentType}, </if>
			<if test="privilegeType != null">`privilege_type` = #{privilegeType}, </if>
			<if test="nation != null">`nation` = #{nation}, </if>
			<if test="phone != null">`phone` = #{phone}, </if>
			<if test="qq != null">`qq` = #{qq}, </if>
			<if test="email != null">`email` = #{email}, </if>
			<if test="wechat != null">`wechat` = #{wechat}, </if>
			<if test="ifDelivery != null">`if_delivery` = #{ifDelivery}, </if>
			<if test="deliveryName != null">`delivery_name` = #{deliveryName}, </if>
			<if test="deliveryTime != null">`delivery_time` = #{deliveryTime}, </if>
			<if test="deliveryNum != null">`delivery_num` = #{deliveryNum}, </if>
			<if test="ifPay != null">`if_pay` = #{ifPay}, </if>
			<if test="remark != null">`remark` = #{remark}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from edu_enroll_info where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from edu_enroll_info where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>