<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.edu.dao.NewsDao">

	<select id="get" resultType="com.bootdo.edu.domain.NewsDO">
		select `id`,`title`,`keyword`,`description`,`if_proposal`,`news_type`,`news_url`,`status`,`area`,`file`,`banner`,`introduction`,`remark`,`create_time`,`update_time` from edu_news where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.edu.domain.NewsDO">
		select `id`,`title`,`keyword`,`description`,`if_proposal`,`news_type`,`news_url`,`status`,`area`,`file`,`banner`,`introduction`,`remark`,`create_time`,`update_time` from edu_news
        <where>
			status = 1
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="title != null and title != ''">
					  and title like concat(concat('%',#{title,jdbcType=VARCHAR}),'%')
				  </if>
		  		  <if test="keyword != null and keyword != ''"> and keyword = #{keyword} </if>
		  		  <if test="description != null and description != ''"> and description = #{description} </if>
		  		  <if test="ifProposal != null and ifProposal != ''"> and if_proposal = #{ifProposal} </if>
		  		  <if test="newsType != null and newsType != ''"> and news_type = #{newsType} </if>
		  		  <if test="newsUrl != null and newsUrl != ''"> and news_url = #{newsUrl} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="area != null and area != ''"> and area = #{area} </if>
		  		  <if test="file != null and file != ''"> and file = #{file} </if>
		  		  <if test="banner != null and banner != ''"> and banner = #{banner} </if>
		  		  <if test="introduction != null and introduction != ''"> and introduction = #{introduction} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from edu_news
		 <where>
			 status = 1
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="title != null and title != ''">
					  and title like concat(concat('%',#{title,jdbcType=VARCHAR}),'%')
				  </if>
		  		  <if test="keyword != null and keyword != ''"> and keyword = #{keyword} </if>
		  		  <if test="description != null and description != ''"> and description = #{description} </if>
		  		  <if test="ifProposal != null and ifProposal != ''"> and if_proposal = #{ifProposal} </if>
		  		  <if test="newsType != null and newsType != ''"> and news_type = #{newsType} </if>
		  		  <if test="newsUrl != null and newsUrl != ''"> and news_url = #{newsUrl} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="area != null and area != ''"> and area = #{area} </if>
		  		  <if test="file != null and file != ''"> and file = #{file} </if>
		  		  <if test="banner != null and banner != ''"> and banner = #{banner} </if>
		  		  <if test="introduction != null and introduction != ''"> and introduction = #{introduction} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.edu.domain.NewsDO" useGeneratedKeys="true" keyProperty="id">
		insert into edu_news
		(
			`title`, 
			`keyword`, 
			`description`, 
			`if_proposal`, 
			`news_type`, 
			`news_url`, 

			`area`, 
			`file`, 
			`banner`, 
			`introduction`, 
			`remark`, 
			`create_time`, 
			`update_time`
		)
		values
		(
			#{title}, 
			#{keyword}, 
			#{description}, 
			#{ifProposal}, 
			#{newsType}, 
			#{newsUrl}, 

			#{area}, 
			#{file}, 
			#{banner}, 
			#{introduction}, 
			#{remark}, 
			#{createTime}, 
			#{updateTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.edu.domain.NewsDO">
		update edu_news 
		<set>
			<if test="title != null">`title` = #{title}, </if>
			<if test="keyword != null">`keyword` = #{keyword}, </if>
			<if test="description != null">`description` = #{description}, </if>
			<if test="ifProposal != null">`if_proposal` = #{ifProposal}, </if>
			<if test="newsType != null">`news_type` = #{newsType}, </if>
			<if test="newsUrl != null">`news_url` = #{newsUrl}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="area != null">`area` = #{area}, </if>
			<if test="file != null">`file` = #{file}, </if>
			<if test="banner != null">`banner` = #{banner}, </if>
			<if test="introduction != null">`introduction` = #{introduction}, </if>
			<if test="remark != null">`remark` = #{remark}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}</if>
		</set>
		where id = #{id}
	</update>
	
	<update id="remove">
		update edu_news set status = -1 where id = #{value}
	</update>
	
	<update id="batchRemove">
		update edu_news set status = -1 where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>

</mapper>