<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="admin/include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <input id="id" name="id" th:value="${certificate.id}" type="hidden">

                        <div class="form-group">

                            <span class="col-sm-1 control-label">证书名称:</span>
                            <div class="col-sm-4">
                                <input th:value="${certificate.name}" id="name" name="name" class="form-control" type="text">
                            </div>
                            <span class="col-sm-1 control-label">标题:</span>
                            <div class="col-sm-4">
                                <input th:value="${certificate.title}" id="title" name="title" class="form-control" type="text">
                            </div>

                        </div>

                        <div class="form-group">
                            <span class="col-sm-1 control-label">关键词:</span>
                            <div class="col-sm-4">
                                <input th:value="${certificate.keyword}" id="keyword" name="keyword" class="form-control" type="text">
                            </div>
                            <span class="col-sm-1 control-label">描述:</span>
                            <div class="col-sm-4">
                                <input th:value="${certificate.description}" id="description" name="description" class="form-control" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-sm-1 control-label">是否推荐:</span>
                            <div class="col-sm-4">
                                <div class="gg-formDetail">
                                    <label class="radio-inline">
                                        <input th:field="*{certificate.ifProposal}" type="radio" name="ifProposal" checked value="0" />否
                                    </label>
                                    <label class="radio-inline">
                                        <input th:field="*{certificate.ifProposal}" type="radio" name="ifProposal" value="1" />是
                                    </label>
                                </div>
                            </div>

                            <span class="col-sm-1 control-label">地区:</span>
                            <div class="col-sm-4">
                                <div class="gg-formDetail gg-font0" data-toggle="distpicker" th:attr="data-province=${certificate.area}">
                                    <div class="gg-area">
                                        <select class="form-control" id="area" name="area">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-sm-1 control-label">学费:</span>
                            <div class="col-sm-4">
                                <input th:value="${certificate.certificateFee}" id="certificateFee" name="certificateFee" class="form-control" type="text">
                            </div>
                            <span class="col-sm-1 control-label">优惠学费:</span>
                            <div class="col-sm-4">
                                <input th:value="${certificate.preferentialFee}" id="preferentialFee" name="preferentialFee" class="form-control" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-sm-1 control-label">开学时间:</span>
                            <div class="col-sm-4">
                                <input th:value="${certificate.termBeginTime}" id="termBeginTime" name="termBeginTime" class="form-control" type="text">
                            </div>
                            <span class="col-sm-1 control-label">学时:</span>
                            <div class="col-sm-4">
                                <input th:value="${certificate.termTime}" id="termTime" name="termTime" class="form-control" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-sm-1 control-label">举办机构:</span>
                            <div class="col-sm-4">
                                <input th:value="${certificate.organizer}" id="organizer" name="organizer" class="form-control" type="text">
                            </div>
                            <span class="col-sm-1 control-label">举办地点:</span>
                            <div class="col-sm-4">
                                <input th:value="${certificate.organizeAddress}" id="organizeAddress" name="organizeAddress" class="form-control" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-sm-1 control-label">证书类别:</span>
                            <div class="col-sm-4">

                                <select data-placeholder="请选择" name="certificateType" id="certificateType"
                                        class="form-control chosen-select" tabindex="2" required>
                                    <option value="">请选择</option>

                                    <option th:each="certificateType : ${certificateTypes}" th:value="${certificateType.name}" th:text="${certificateType.name}"
                                            th:selected="${certificate.certificateType eq certificateType.name}"></option>
                                </select>

                            </div>
                            <span class="col-sm-1 control-label">老师:</span>
                            <div class="col-sm-4">
                                <input th:value="${certificate.teacher}" id="teacher" name="teacher" class="form-control" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-sm-1 control-label">电话:</span>
                            <div class="col-sm-4">
                                <input th:value="${certificate.phone}" id="phone" name="phone" class="form-control" type="text">
                            </div>
                            <span class="col-sm-1 control-label">QQ:</span>
                            <div class="col-sm-4">
                                <input th:value="${certificate.qq}" id="qq" name="qq" class="form-control" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-sm-1 control-label">邮箱:</span>
                            <div class="col-sm-4">
                                <input th:value="${certificate.email}" id="email" name="email" class="form-control" type="text">
                            </div>
                            <span class="col-sm-1 control-label">微信:</span>
                            <div class="col-sm-4">
                                <input th:value="${certificate.wechat}" id="wechat" name="wechat" class="form-control" type="text">
                            </div>
                        </div>

                        <div class="form-group">

                            <span class="col-sm-1 control-label">备注:</span>
                            <div class="col-sm-9">
                                <input th:value="${certificate.remark}" id="remark" name="remark" class="form-control" type="text">
                            </div>

                        </div>

                        <div class="form-group">
                            <span class="col-sm-1 control-label">封面:</span>
                            <div class="col-sm-7">
                                <div class="layui-upload-drag" id="banner_button">
                                    <i class="layui-icon"></i>
                                    <p>点击上传，或将文件拖拽到此处</p>
                                </div>
                                <img th:src="${certificate.banner}" width="120px" height="120px" class="layui-upload-img" style="position: absolute;margin-left: 10px;" id="banner_img">

                                <input th:value="${certificate.banner}" id="banner" name="banner" class="form-control" type="hidden">
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-sm-1 control-label">相关文件:</span>
                            <div class="col-sm-7">
                                <div class="layui-upload-drag" id="file_button">
                                    <i class="layui-icon"></i>
                                    <p>点击上传，或将文件拖拽到此处</p>
                                </div>
                                <input th:value="${certificate.file}" id="file" name="file" class="form-control" type="hidden">
                            </div>
                        </div>


                        <div class="form-group">
                            <span class="col-sm-1 control-label">详细介绍:</span>
                            <div class="col-sm-11">
                                <input th:value="${certificate.introduction}" id="introduction" name="introduction" type="hidden">

                                <div class="ibox-content no-padding">
                                    <div id="introduction_sn" class="summernote"></div>
                                </div>
                            </div>

                        </div>
                        <div class="text-right form-group" style="margin-right:0">
                            <button class="btn btn-primary waves-effect waves-light" id="submit" type="submit">保存</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="admin/include::footer"></div>
<script type="text/javascript" src="/js/appjs/edu/certificate/edit.js">
</script>
</body>
</html>
