<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <div class="gg-formGroup">
                            <div class="gg-formTitle">
                                <span>姓名:</span>
                            </div>
                            <div class="gg-formDetail">
                                <input type="text" class="form-control" id="name" name="name"/>
                            </div>
                        </div>
                        <div class="gg-formGroup">
                            <div class="gg-formTitle">
                                <span>性别:</span>
                            </div>
                            <div class="gg-formDetail">
                                <div class="radio i-checks">

                                </div>
                            </div>
                        </div>
                        <div class="gg-formGroup">
                            <div class="gg-formTitle">
                                <span>身份证号:</span>
                            </div>
                            <div class="gg-formDetail">
                                <input type="text" class="form-control" id="idCard" name="idCard"/>
                            </div>
                        </div>
                        <div class="gg-formGroup">
                            <div class="gg-formTitle">
                                <span>政治面貌:</span>
                            </div>
                            <div class="gg-formDetail">
                                <input type="text" class="form-control" id="political" name="political"/>
                            </div>
                        </div>
                        <div class="gg-formGroup">
                            <div class="gg-formTitle">
                                <em class="gg-star">*</em>
                                <span>户口所在地:</span>
                            </div>
                            <div class="gg-formDetail gg-font0" data-toggle="distpicker" >
                                <div class="gg-area">
                                    <select class="form-control" id="province" name="province">
                                    </select>
                                </div>
                                <div class="gg-area">
                                    <select class="form-control" id="city" name="city">
                                    </select>
                                </div>

                            </div>
                        </div>
                        <!--<div class="gg-formGroup">
                            <div class="gg-formTitle">
                                <span>省:</span>
                            </div>
                            <div class="gg-formDetail">
                                <input type="text" class="form-control" id="province" name="province"/>
                            </div>
                        </div>
                        <div class="gg-formGroup">
                            <div class="gg-formTitle">
                                <span>市:</span>
                            </div>
                            <div class="gg-formDetail">
                                <input type="text" class="form-control" id="city" name="city"/>
                            </div>
                        </div>-->
                        <div class="gg-formGroup">
                            <div class="gg-formTitle">
                                <span>目前所在地:</span>
                            </div>
                            <div class="gg-formDetail">
                                <input type="text" class="form-control" id="address" name="address"/>
                            </div>
                        </div>
                        <div class="gg-formGroup">
                            <div class="gg-formTitle">
                                <span>报考学校:</span>
                            </div>
                            <div class="gg-formDetail">
                                <input type="text" class="form-control" id="school" name="school"/>
                            </div>
                        </div>
                        <div class="gg-formGroup">
                            <div class="gg-formTitle">
                                <span>报考专业:</span>
                            </div>
                            <div class="gg-formDetail">
                                <input type="text" class="form-control" id="specialty" name="specialty"/>
                            </div>
                        </div>
                        <div class="gg-formGroup">
                            <div class="gg-formTitle">
                                <span>报考形式:</span>
                            </div>
                            <div class="gg-formDetail">
                                <input type="text" class="form-control" id="enrollType" name="enrollType"/>
                            </div>
                        </div>
                        <div class="gg-formGroup">
                            <div class="gg-formTitle">
                                <span>目前学历:</span>
                            </div>
                            <div class="gg-formDetail">
                                <input type="text" class="form-control" id="qualification" name="qualification"/>
                            </div>
                        </div>
                        <div class="gg-formGroup">
                            <div class="gg-formTitle">
                                <span>毕业院校:</span>
                            </div>
                            <div class="gg-formDetail">
                                <input type="text" class="form-control" id="graduationSchool" name="graduationSchool"/>
                            </div>
                        </div>
                        <div class="gg-formGroup">
                            <div class="gg-formTitle">
                                <span>毕业专业:</span>
                            </div>
                            <div class="gg-formDetail">
                                <input type="text" class="form-control" id="graduatiSpecialty"
                                       name="graduatiSpecialty"/>
                            </div>
                        </div>
                        <div class="gg-formGroup">
                            <div class="gg-formTitle">
                                <span>职业类别:</span>
                            </div>
                            <div class="gg-formDetail">
                                <input type="text" class="form-control" id="occupationType" name="occupationType"/>
                            </div>
                        </div>
                        <div class="gg-formGroup">
                            <div class="gg-formTitle">
                                <span>考生类别:</span>
                            </div>
                            <div class="gg-formDetail">
                                <input type="text" class="form-control" id="studentType" name="studentType"/>
                            </div>
                        </div>
                        <div class="gg-formGroup">
                            <div class="gg-formTitle">
                                <span>照顾对象:</span>
                            </div>
                            <div class="gg-formDetail">
                                <input type="text" class="form-control" id="privilegeType" name="privilegeType"/>
                            </div>
                        </div>
                        <div class="gg-formGroup">
                            <div class="gg-formTitle">
                                <span>民族:</span>
                            </div>
                            <div class="gg-formDetail">
                                <input type="text" class="form-control" id="nation" name="nation"/>
                            </div>
                        </div>
                        <div class="gg-formGroup">
                            <div class="gg-formTitle">
                                <span>电话:</span>
                            </div>
                            <div class="gg-formDetail">
                                <input type="text" class="form-control" id="phone" name="phone"/>
                            </div>
                        </div>
                        <div class="gg-formGroup">
                            <div class="gg-formTitle">
                                <span>QQ:</span>
                            </div>
                            <div class="gg-formDetail">
                                <input type="text" class="form-control" id="qq" name="qq"/>
                            </div>
                        </div>
                        <div class="gg-formGroup">
                            <div class="gg-formTitle">
                                <span>邮箱:</span>
                            </div>
                            <div class="gg-formDetail">
                                <input type="text" class="form-control" id="email" name="email"/>
                            </div>
                        </div>
                        <div class="gg-formGroup">
                            <div class="gg-formTitle">
                                <span>微信:</span>
                            </div>
                            <div class="gg-formDetail">
                                <input type="text" class="form-control" id="wechat" name="wechat"/>
                            </div>
                        </div>
                        <div class="gg-formGroup">
                            <div class="gg-formTitle">
                                <span>是否快递:</span>
                            </div>
                            <div class="gg-formDetail">
                                <input type="text" class="form-control" id="ifDelivery" name="ifDelivery"/>
                            </div>
                        </div>
                        <div class="gg-formGroup">
                            <div class="gg-formTitle">
                                <span>快递名称:</span>
                            </div>
                            <div class="gg-formDetail">
                                <input type="text" class="form-control" id="deliveryName" name="deliveryName"/>
                            </div>
                        </div>
                        <div class="gg-formGroup">
                            <div class="gg-formTitle">
                                <span>快递时间:</span>
                            </div>
                            <div class="gg-formDetail">
                                <input type="text" class="form-control" id="deliveryTime" name="deliveryTime"/>
                            </div>
                        </div>
                        <div class="gg-formGroup">
                            <div class="gg-formTitle">
                                <span>快递单号:</span>
                            </div>
                            <div class="gg-formDetail">
                                <input type="text" class="form-control" id="deliveryNum" name="deliveryNum"/>
                            </div>
                        </div>
                        <div class="gg-formGroup">
                            <div class="gg-formTitle">
                                <span>是否付款:</span>
                            </div>
                            <div class="gg-formDetail">
                                <input type="text" class="form-control" id="ifPay" name="ifPay"/>
                            </div>
                        </div>
                        <div class="gg-formGroup">
                            <div class="gg-formTitle">
                                <span>备注:</span>
                            </div>
                            <div class="gg-formDetail">
                                <input type="text" class="form-control" id="remark" name="remark"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/edu/enrollInfo/add.js">
</script>
</body>
</html>
