<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${enrollInfo.id}"  type="hidden">
							
    <div class="gg-formGroup">
        <div class="gg-formTitle">
            <span>姓名:</span>
        </div>
        <div class="gg-formDetail">
            <input type="text" class="form-control" id="name" name="name" th:value="${enrollInfo.name}" />
        </div>
    </div>
														
    <div class="gg-formGroup">
        <div class="gg-formTitle">
            <span>性别 0女1男:</span>
        </div>
        <div class="gg-formDetail">
            <input type="text" class="form-control" id="sex" name="sex" th:value="${enrollInfo.sex}" />
        </div>
    </div>
														
    <div class="gg-formGroup">
        <div class="gg-formTitle">
            <span>身份证号:</span>
        </div>
        <div class="gg-formDetail">
            <input type="text" class="form-control" id="idCard" name="idCard" th:value="${enrollInfo.idCard}" />
        </div>
    </div>
														
    <div class="gg-formGroup">
        <div class="gg-formTitle">
            <span>政治面貌:</span>
        </div>
        <div class="gg-formDetail">
            <input type="text" class="form-control" id="political" name="political" th:value="${enrollInfo.political}" />
        </div>
    </div>
														
    <div class="gg-formGroup">
        <div class="gg-formTitle">
            <span>省:</span>
        </div>
        <div class="gg-formDetail">
            <input type="text" class="form-control" id="province" name="province" th:value="${enrollInfo.province}" />
        </div>
    </div>
														
    <div class="gg-formGroup">
        <div class="gg-formTitle">
            <span>市:</span>
        </div>
        <div class="gg-formDetail">
            <input type="text" class="form-control" id="city" name="city" th:value="${enrollInfo.city}" />
        </div>
    </div>
														
    <div class="gg-formGroup">
        <div class="gg-formTitle">
            <span>目前所在地:</span>
        </div>
        <div class="gg-formDetail">
            <input type="text" class="form-control" id="address" name="address" th:value="${enrollInfo.address}" />
        </div>
    </div>
														
    <div class="gg-formGroup">
        <div class="gg-formTitle">
            <span>报考学校:</span>
        </div>
        <div class="gg-formDetail">
            <input type="text" class="form-control" id="school" name="school" th:value="${enrollInfo.school}" />
        </div>
    </div>
														
    <div class="gg-formGroup">
        <div class="gg-formTitle">
            <span>报考专业:</span>
        </div>
        <div class="gg-formDetail">
            <input type="text" class="form-control" id="specialty" name="specialty" th:value="${enrollInfo.specialty}" />
        </div>
    </div>
														
    <div class="gg-formGroup">
        <div class="gg-formTitle">
            <span>报考形式:</span>
        </div>
        <div class="gg-formDetail">
            <input type="text" class="form-control" id="enrollType" name="enrollType" th:value="${enrollInfo.enrollType}" />
        </div>
    </div>
														
    <div class="gg-formGroup">
        <div class="gg-formTitle">
            <span>目前学历:</span>
        </div>
        <div class="gg-formDetail">
            <input type="text" class="form-control" id="qualification" name="qualification" th:value="${enrollInfo.qualification}" />
        </div>
    </div>
														
    <div class="gg-formGroup">
        <div class="gg-formTitle">
            <span>毕业院校:</span>
        </div>
        <div class="gg-formDetail">
            <input type="text" class="form-control" id="graduationSchool" name="graduationSchool" th:value="${enrollInfo.graduationSchool}" />
        </div>
    </div>
														
    <div class="gg-formGroup">
        <div class="gg-formTitle">
            <span>毕业专业:</span>
        </div>
        <div class="gg-formDetail">
            <input type="text" class="form-control" id="graduatiSpecialty" name="graduatiSpecialty" th:value="${enrollInfo.graduatiSpecialty}" />
        </div>
    </div>
														
    <div class="gg-formGroup">
        <div class="gg-formTitle">
            <span>职业类别:</span>
        </div>
        <div class="gg-formDetail">
            <input type="text" class="form-control" id="occupationType" name="occupationType" th:value="${enrollInfo.occupationType}" />
        </div>
    </div>
														
    <div class="gg-formGroup">
        <div class="gg-formTitle">
            <span>考生类别:</span>
        </div>
        <div class="gg-formDetail">
            <input type="text" class="form-control" id="studentType" name="studentType" th:value="${enrollInfo.studentType}" />
        </div>
    </div>
														
    <div class="gg-formGroup">
        <div class="gg-formTitle">
            <span>照顾对象:</span>
        </div>
        <div class="gg-formDetail">
            <input type="text" class="form-control" id="privilegeType" name="privilegeType" th:value="${enrollInfo.privilegeType}" />
        </div>
    </div>
														
    <div class="gg-formGroup">
        <div class="gg-formTitle">
            <span>民族:</span>
        </div>
        <div class="gg-formDetail">
            <input type="text" class="form-control" id="nation" name="nation" th:value="${enrollInfo.nation}" />
        </div>
    </div>
														
    <div class="gg-formGroup">
        <div class="gg-formTitle">
            <span>电话:</span>
        </div>
        <div class="gg-formDetail">
            <input type="text" class="form-control" id="phone" name="phone" th:value="${enrollInfo.phone}" />
        </div>
    </div>
														
    <div class="gg-formGroup">
        <div class="gg-formTitle">
            <span>QQ:</span>
        </div>
        <div class="gg-formDetail">
            <input type="text" class="form-control" id="qq" name="qq" th:value="${enrollInfo.qq}" />
        </div>
    </div>
														
    <div class="gg-formGroup">
        <div class="gg-formTitle">
            <span>邮箱:</span>
        </div>
        <div class="gg-formDetail">
            <input type="text" class="form-control" id="email" name="email" th:value="${enrollInfo.email}" />
        </div>
    </div>
														
    <div class="gg-formGroup">
        <div class="gg-formTitle">
            <span>微信:</span>
        </div>
        <div class="gg-formDetail">
            <input type="text" class="form-control" id="wechat" name="wechat" th:value="${enrollInfo.wechat}" />
        </div>
    </div>
														
    <div class="gg-formGroup">
        <div class="gg-formTitle">
            <span>是否快递 0否 1是:</span>
        </div>
        <div class="gg-formDetail">
            <input type="text" class="form-control" id="ifDelivery" name="ifDelivery" th:value="${enrollInfo.ifDelivery}" />
        </div>
    </div>
														
    <div class="gg-formGroup">
        <div class="gg-formTitle">
            <span>快递名称:</span>
        </div>
        <div class="gg-formDetail">
            <input type="text" class="form-control" id="deliveryName" name="deliveryName" th:value="${enrollInfo.deliveryName}" />
        </div>
    </div>
														
    <div class="gg-formGroup">
        <div class="gg-formTitle">
            <span>快递时间:</span>
        </div>
        <div class="gg-formDetail">
            <input type="text" class="form-control" id="deliveryTime" name="deliveryTime" th:value="${enrollInfo.deliveryTime}" />
        </div>
    </div>
														
    <div class="gg-formGroup">
        <div class="gg-formTitle">
            <span>快递单号:</span>
        </div>
        <div class="gg-formDetail">
            <input type="text" class="form-control" id="deliveryNum" name="deliveryNum" th:value="${enrollInfo.deliveryNum}" />
        </div>
    </div>
														
    <div class="gg-formGroup">
        <div class="gg-formTitle">
            <span>是否付款 0否1是:</span>
        </div>
        <div class="gg-formDetail">
            <input type="text" class="form-control" id="ifPay" name="ifPay" th:value="${enrollInfo.ifPay}" />
        </div>
    </div>
														
    <div class="gg-formGroup">
        <div class="gg-formTitle">
            <span>备注:</span>
        </div>
        <div class="gg-formDetail">
            <input type="text" class="form-control" id="remark" name="remark" th:value="${enrollInfo.remark}" />
        </div>
    </div>
														
    <div class="gg-formGroup">
        <div class="gg-formTitle">
            <span>状态:</span>
        </div>
        <div class="gg-formDetail">
            <input type="text" class="form-control" id="status" name="status" th:value="${enrollInfo.status}" />
        </div>
    </div>
														
    <div class="gg-formGroup">
        <div class="gg-formTitle">
            <span>创建时间:</span>
        </div>
        <div class="gg-formDetail">
            <input type="text" class="form-control" id="createTime" name="createTime" th:value="${enrollInfo.createTime}" />
        </div>
    </div>
														
    <div class="gg-formGroup">
        <div class="gg-formTitle">
            <span>修改时间:</span>
        </div>
        <div class="gg-formDetail">
            <input type="text" class="form-control" id="updateTime" name="updateTime" th:value="${enrollInfo.updateTime}" />
        </div>
    </div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/edu/enrollInfo/edit.js">
	</script>
</body>
</html>
