<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ultron.admin.edu.dao.EnrollRemarkDao">

	<select id="get" resultType="com.ultron.admin.edu.domain.EnrollRemarkDO">
		select `id`,`name`,`enroll_id`,`enroll_fee`,`first_fee`,`second_fee`,`third_fee`,`service_item`,`remark`,`status`,`create_time`,`update_time` from edu_enroll_remark where id = #{value}
	</select>

	<select id="list" resultType="com.ultron.admin.edu.domain.EnrollRemarkDO">
		select `id`,`name`,`enroll_id`,`enroll_fee`,`first_fee`,`second_fee`,`third_fee`,`service_item`,`remark`,`status`,`create_time`,`update_time` from edu_enroll_remark
        <where>
			status = 1
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="enrollId != null and enrollId != ''"> and enroll_id = #{enrollId} </if>
		  		  <if test="enrollFee != null and enrollFee != ''"> and enroll_fee = #{enrollFee} </if>
		  		  <if test="firstFee != null and firstFee != ''"> and first_fee = #{firstFee} </if>
		  		  <if test="secondFee != null and secondFee != ''"> and second_fee = #{secondFee} </if>
		  		  <if test="thirdFee != null and thirdFee != ''"> and third_fee = #{thirdFee} </if>
		  		  <if test="serviceItem != null and serviceItem != ''"> and service_item = #{serviceItem} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from edu_enroll_remark
		 <where>
			 status = 1
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="enrollId != null and enrollId != ''"> and enroll_id = #{enrollId} </if>
		  		  <if test="enrollFee != null and enrollFee != ''"> and enroll_fee = #{enrollFee} </if>
		  		  <if test="firstFee != null and firstFee != ''"> and first_fee = #{firstFee} </if>
		  		  <if test="secondFee != null and secondFee != ''"> and second_fee = #{secondFee} </if>
		  		  <if test="thirdFee != null and thirdFee != ''"> and third_fee = #{thirdFee} </if>
		  		  <if test="serviceItem != null and serviceItem != ''"> and service_item = #{serviceItem} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.ultron.admin.edu.domain.EnrollRemarkDO" useGeneratedKeys="true" keyProperty="id">
		insert into edu_enroll_remark
		(
			`name`, 
			`enroll_id`, 
			`enroll_fee`, 
			`first_fee`, 
			`second_fee`, 
			`third_fee`, 
			`service_item`, 
			`remark`, 

			`create_time`, 
			`update_time`
		)
		values
		(
			#{name}, 
			#{enrollId}, 
			#{enrollFee}, 
			#{firstFee}, 
			#{secondFee}, 
			#{thirdFee}, 
			#{serviceItem}, 
			#{remark}, 

			#{createTime}, 
			#{updateTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.ultron.admin.edu.domain.EnrollRemarkDO">
		update edu_enroll_remark 
		<set>
			<if test="name != null">`name` = #{name}, </if>
			<if test="enrollId != null">`enroll_id` = #{enrollId}, </if>
			<if test="enrollFee != null">`enroll_fee` = #{enrollFee}, </if>
			<if test="firstFee != null">`first_fee` = #{firstFee}, </if>
			<if test="secondFee != null">`second_fee` = #{secondFee}, </if>
			<if test="thirdFee != null">`third_fee` = #{thirdFee}, </if>
			<if test="serviceItem != null">`service_item` = #{serviceItem}, </if>
			<if test="remark != null">`remark` = #{remark}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}</if>
		</set>
		where id = #{id}
	</update>
	
	<update id="remove">
		update edu_enroll_remark set status = -1 where id = #{value}
	</update>
	
	<update id="batchRemove">
		update edu_enroll_remark set status = -1 where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>

</mapper>