<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="frontsite/include::header_link"></head>

<body>

	<!--[if lt IE 8]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<div class="wrapper">
		<!--Header Area Start-->
        <div th:include="frontsite/include::header"></div>
        <!--Header Area End-->
		<!--Breadcrumb Area Start-->
		<div class="breadcrumb-area">
		    <div class="container">
		        <div class="row">
		            <div class="col-12">
		                <div class="breadcrumb-content text-center">
		                    <ul>
		                        <li><a href="/index">首页</a></li>
		                        <li class="active">院校列表</li>
		                    </ul>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<!--Breadcrumb Area End-->
		<!--Shop Area Start-->
		<div class="shop-area mt-30">
		    <div class="container">

                <div class="row mb-10">
                    <div class="col-lg-12">
                        <!--<div class="col-md-4">

                        </div>
                        <div class="col-md-8">

                        </div>-->
                        <div id="accordion" class="area-condition">

                            <input type="hidden" id="area" name="area"/>
                            <input type="hidden" id="sort" name="sort"/>

                            <div class="card actives">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <span class="condition-title">院校所在地 > </span>
                                        <span><a class="chosen-tag" href="javascript:;" onclick="loadByArea(this,'')" > 全部</a></span>

                                        <span th:each="area,areaStat : ${areaList}" th:if="${areaStat.count} <= 11">
                                            <a href="javascript:;" th:onclick="'javascript:loadByArea(this,\''+${area}+'\')'" th:text="${area}"> </a>
                                        </span>

                                        <a th:if="${areaList.size()} > 11" class="collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
                                    <div class="condition-body card-body">
                                        <span th:each="area,areaStat : ${areaList}" th:if="${areaStat.count} > 11">
                                            <a href="javascript:;" th:onclick="'javascript:loadByArea(this,\''+${area}+'\')'" th:text="${area}"> </a>
                                        </span>

                                        <a class="no-collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="search__topbar mt-30">
                            <div class="input_form">
                                <input id="keyword" name="keyword" placeholder="请输入您心仪的院校..." class="input_text" type="text">
                                <button id="blogsearchsubmit" type="submit" class="button" onclick="loadByName()">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
		        <div class="row mt-30">
		            <div class="col-lg-12">
		                <div class="shop-layout">
		                    <!--Shop Product Start-->
		                    <div class="shop-product">
                                <div class="grid-list-option">
                                    <p class="show-product">共20所院校</p>
                                    <span class="fly-filter-right">
                                        <a href="javascript:void(0);" onclick="orderLoad(0)" class="layui-this latest active">最新</a>
                                        <span class="fly-mid"></span>
                                        <a href="javascript:void(0);" onclick="orderLoad(1)" class="hotest">最热</a>
                                      </span>
                                </div>

		                        <div id="myTabContent-2" class="tab-content">

		                            <div id="list" class="tab-pane fade show active">
		                                <div class="product-list-view">

		                                </div>
		                            </div>
		                            <!--Pagination Start-->
                                    <div class="pagination-product d-md-flex justify-content-md-between align-items-center">
                                      <div class="showing-product">
                                          <!--<p> 共 5 页,当前第 1 页 </p>-->
                                      </div>
                                      <div id="pageDemo">

                                      </div>
                                    </div>
		                            <!--Pagination End-->
		                        </div>
		                    </div>
		                    <!--Shop Product End-->
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<!--Shop Area End-->
		<!--Feature Area Start-->
		<div class="feature-area mt-80">
		    <div class="container">
		        <div class="row">
		            <div class="col-md-4">
		                <!--Single Feature Start-->
		                <div class="single-feature">
		                    <div class="feature-icon">
		                        <i class="icon ion-ios-telephone"></i>
		                    </div>
		                    <div class="feature-content">
		                        <h3>(999) 1234 56789</h3>
		                        <p>Free support line!</p>
		                    </div>
		                </div>
		                <!--Single Feature End-->
		            </div>
		            <div class="col-md-4">
		                <!--Single Feature Start-->
		                <div class="single-feature">
		                    <div class="feature-icon">
		                        <i class="icon ion-email"></i>
		                    </div>
		                    <div class="feature-content">
		                        <h3>(999) 1234 56789</h3>
		                        <p>Free support line!</p>
		                    </div>
		                </div>
		                <!--Single Feature End-->
		            </div>
		            <div class="col-md-4">
		                <!--Single Feature Start-->
		                <div class="single-feature">
		                    <div class="feature-icon">
		                        <i class="icon ion-ios-timer-outline"></i>
		                    </div>
		                    <div class="feature-content">
		                        <h3>(999) 1234 56789</h3>
		                        <p>Free support line!</p>
		                    </div>
		                </div>
		                <!--Single Feature End-->
		            </div>
		        </div>
		    </div>
		</div>
		<!--Feature Area End-->
		<!--Footer Area Start-->
        <div th:include="frontsite/include::footer"></div>
		<!--Footer Area End-->
        <!-- Modal Area Strat -->
        <div class="modal fade" id="open-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                  <!--Modal Img-->
                  <div class="col-md-5">
                      <!--Modal Tab Content Start-->
                      <div class="tab-content product-details-large" id="myTabContent">
                        <div class="tab-pane fade show active" id="single-slide1" role="tabpanel" aria-labelledby="single-slide-tab-1">
                            <!--Single Product Image Start-->
                            <div class="single-product-img img-full">
                              <img src="img/single-product/large/large1.jpg" alt="">
                            </div>
                            <!--Single Product Image End-->
                        </div>
                        <div class="tab-pane fade" id="single-slide2" role="tabpanel" aria-labelledby="single-slide-tab-2">
                            <!--Single Product Image Start-->
                            <div class="single-product-img img-full">
                              <img src="img/single-product/large/large2.jpg" alt="">
                            </div>
                            <!--Single Product Image End-->
                        </div>
                        <div class="tab-pane fade" id="single-slide3" role="tabpanel" aria-labelledby="single-slide-tab-3">
                            <!--Single Product Image Start-->
                            <div class="single-product-img img-full">
                              <img src="img/single-product/large/large3.jpg" alt="">
                            </div>
                            <!--Single Product Image End-->
                        </div>
                        <div class="tab-pane fade" id="single-slide4" role="tabpanel" aria-labelledby="single-slide-tab-4">
                            <!--Single Product Image Start-->
                            <div class="single-product-img img-full">
                              <img src="img/single-product/large/large4.jpg" alt="">
                            </div>
                            <!--Single Product Image End-->
                        </div>
                      </div>
                      <!--Modal Content End-->
                      <!--Modal Tab Menu Start-->
                      <div class="single-product-menu">
                          <div class="nav single-slide-menu" role="tablist">
                              <div class="single-tab-menu img-full">
                                  <a class="active" data-toggle="tab" id="single-slide-tab-1" href="#single-slide1"><img src="img/single-product/small/small1.jpg" alt=""></a>
                              </div>
                              <div class="single-tab-menu img-full">
                                  <a data-toggle="tab" id="single-slide-tab-2" href="#single-slide2"><img src="img/single-product/small/small2.jpg" alt=""></a>
                              </div>
                              <div class="single-tab-menu img-full">
                                  <a data-toggle="tab" id="single-slide-tab-3" href="#single-slide3"><img src="img/single-product/small/small3.jpg" alt=""></a>
                              </div>
                              <div class="single-tab-menu img-full">
                                  <a data-toggle="tab" id="single-slide-tab-4" href="#single-slide4"><img src="img/single-product/small/small4.jpg" alt=""></a>
                              </div>
                          </div>
                      </div>
                      <!--Modal Tab Menu End-->
                  </div>
                  <!--Modal Img-->
                  <!--Modal Content-->
                  <div class="col-md-7">
                      <div class="single-product-content">
                          <h1 class="single-product-name">Printed Chiffon Dress</h1>
                          <div class="single-product-reviews">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                          </div>
                          <div class="single-product-price">
                              <div class="product-discount">
                                  <span class="regular-price">$20.50</span>
                                  <span class="price">$16.40</span>
                                  <span class="discount">-20%</span>
                              </div>
                          </div>
                          <div class="product-info">
                              <p>Long printed dress with thin adjustable straps. V-neckline and wiring under the bust with ruffles at the bottom of the dress.</p>
                          </div>
                          <div class="single-product-action">
                              <form action="#">
                                  <div class="product-variants">
                                      <div class="product-variants-item">
                                            <span class="control-label">Size</span>
                                            <select class="nice-select" name="size">
                                                <option value="1">S</option>
                                                <option value="2">M</option>
                                                <option value="3">X</option>
                                                <option value="4">XL</option>
                                            </select>
                                        </div>
                                        <div class="product-variants-item">
                                            <span class="control-label">Color</span>
                                            <select class="nice-select" name="color">
                                                <option value="1">Red</option>
                                                <option value="2">Green</option>
                                                <option value="3">Blue</option>
                                                <option value="4">White</option>
                                            </select>
                                        </div>
                                  </div>
                                  <div class="product-add-to-cart">
                                      <span class="control-label">Quantity</span>
                                      <div class="cart-plus-minus">
                                          <input class="cart-plus-minus-box" type="text" name="qtybutton" value="0">
                                       </div>
                                       <div class="add">
                                           <button class="add-to-cart"><i class="zmdi zmdi-shopping-cart-plus"></i> add-to-cart</button>
                                           <span class="product-availability"><i class="zmdi zmdi-check"></i> In stock</span>
                                       </div>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
                  <!--Modal Content-->
              </div>
            </div>
            <div class="modal-footer">
              <!--Single Product Share-->
              <div class="single-product-share">
                  <ul>
                     <li class="categories-title">Share :</li>
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                      <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                  </ul>
              </div>
              <!--Single Product Share-->
            </div>
          </div>
        </div>
        </div>
        <!-- Modal Area End -->
	</div>

	<!--Main Js-->
	<script src="/frontsite/appjs/university.js"></script>
</body>
</html>
