<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="admin/include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-body">
                <table id="exampleTable" data-mobile-responsive="true" class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th style="" data-field="id" tabindex="0">
                            <div class="th-inner ">ID</div>
                            <div class="fht-cell"></div>
                        </th>
                        <th style="" data-field="name" tabindex="0">
                            <div class="th-inner ">姓名</div>
                            <div class="fht-cell"></div>
                        </th>
                        <th style="" data-field="enrollFee" tabindex="0">
                            <div class="th-inner ">报名学费</div>
                            <div class="fht-cell"></div>
                        </th>
                        <th style="" data-field="firstFee" tabindex="0">
                            <div class="th-inner ">第一年学费</div>
                            <div class="fht-cell"></div>
                        </th>
                        <th style="" data-field="secondFee" tabindex="0">
                            <div class="th-inner ">第二年学费</div>
                            <div class="fht-cell"></div>
                        </th>
                        <th style="" data-field="thirdFee" tabindex="0">
                            <div class="th-inner ">第三年学费</div>
                            <div class="fht-cell"></div>
                        </th>
                        <th style="" data-field="serviceItem" tabindex="0">
                            <div class="th-inner ">服务项目</div>
                            <div class="fht-cell"></div>
                        </th>
                        <th style="" data-field="createTime" tabindex="0">
                            <div class="th-inner ">备注时间</div>
                            <div class="fht-cell"></div>
                        </th>
                        <th style="text-align: center; " data-field="id" tabindex="0">
                            <div class="th-inner ">操作</div>
                            <div class="fht-cell"></div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    <!--<tr th:if="${enrollRemarkList.size()} eq 0">
                        <td>没有备注信息</td>
                    </tr>-->

                    <tr th:each="enrollRemark,enrollRemarkStat : ${enrollRemarkList}" th:data-index="${enrollRemark.id}">
                        <td th:text="${enrollRemark.id}" style=""/>
                        <td th:text="${enrollRemark.name}"  style=""/>
                        <td th:text="${enrollRemark.enrollFee}"  style=""/>
                        <td th:text="${enrollRemark.firstFee}"  style=""/>
                        <td th:text="${enrollRemark.secondFee}"  style=""/>
                        <td th:text="${enrollRemark.thirdFee}"  style=""/>
                        <td th:text="${enrollRemark.serviceItem}"  style=""/>
                        <td th:text="${enrollRemark.createTime}==null?null:${#dates.format(enrollRemark.createTime,'yyyy-MM-dd HH:mm:ss')}"  style=""/>
                        <td style="text-align: center; ">
                            <a class="btn btn-warning btn-sm " href="#" title="删除" mce_href="#" th:onclick="'remove(' + ${enrollRemark.id} + ')'">
                                <i class="fa fa-remove"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!--<table id="exampleTable" data-mobile-responsive="true">

                </table>-->
            </div>
        </div>
    </div>
</div>
<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
<div>
    <script type="text/javascript">
        var s_edit_h = 'hidden';
        var s_remove_h = 'hidden';
        var s_resetPwd_h = 'hidden';
    </script>
</div>
<div shiro:hasPermission="edu:enrollRemark:edit">
    <script type="text/javascript">
        s_edit_h = '';
    </script>
</div>
<div shiro:hasPermission="edu:enrollRemark:remove">
    <script type="text/javascript">
        var s_remove_h = '';
    </script>
</div>

</div>
<div th:include="admin/include :: footer"></div>
<script type="text/javascript" src="/js/appjs/edu/enrollRemark/viewRemarks.js"></script>
</body>
</html>